<!-- Shared navigation menu for all MedCom IGs -->
<!-- NOTE: The publisher only support one level of nested menus -->
<?xml version="1.0" encoding="UTF-8"?>
<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="profiles.html">Profiles</a></li>
  <li><a href="examples.html">Examples</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">More
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="toc.html">Table of Contents</a>
      </li>
      <li>
        <a href="dependencies.html">Dependencies</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <li>
        <a href="extensions.html">Extensions</a>
      </li>
    </ul>
  </li>
</ul>
